.header-prev{
    background-image: url("../images/willian-justen-de-vasconcellos-LzwNq8DVQzs-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    
}
body{
    margin: 0;
    padding: 0;
}
.btn{
    background-color: #0b69e4;
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
}

.btn.btn-choice{
    position: relative;
    right: 40px;
}

form{
    width: 400px;
    height: 650px;
    background-color: #fff;
    padding: 10px 15px;
    text-align: center;
    margin: 10px 25px;
    position: relative;
    left: 700px;
    Color: #0b69e4;
    border: 1px solid #0b69e4;
}

ol{
    text-align: left;
}
.form-part{
    display: none;
    padding: 10px;
}
.form-part__active{
    display: inline-block;
}
.form-part__body-part{
    border: 1px solid #6eacff;
    width: 180px;
    height: 200px;
    display: inline-block;
    background-color: #fff;
}

.form-part__body-part__active{
    background-color: #225faf;
}

.form-part__img{
    width: 150px;
    height: 170px;
}

.form-part h3, .form-part h4, .form-part p{
    max-width: 370px;
    text-align: left;
}

.form-part__footer div{
    display: inline-block;
    width: auto;
    position: relative;
    bottom: 10px;
}

.form-part__footer-btn{
    background-color: #fff;
    color: #6eacff;
    border: 1px solid #6eacff;
    padding: 5px 7px;
    font-size: 0.8em;
}

.form-part__btn{
    text-align: left;
    width: 300px;
    position: relative;
    left: 40px;
    margin: 30px 0;
}
.form-part input{
    width: 300px;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    Color:#0b69e4;
    font-size: 1.2em;
    outline: none;
}

.defil-button{
    margin: 90px -40px;
}
.btn img{
    width: 18px;
    color: white;
    
}
.img-calendar{
    font-size: 1.5em;
    width: 100px;
    height: auto;
}
.focus-case{
    background-color: #0b69e4;
}
.border-red{
    border: 2px solid red;
}
.border-orange{
    border: 2px solid orange;
}
.img-form-part.france-renov{
    width: 400px;
}
.img-revenu-fiscal{
    width: 100px;
}
.level-form{
    width: 400px;
    height: 2px;
    background-color: #0b69e4;
}
.navbar-form{
    width: 100%;
}
.form-response__error{
    color: red;
    display: none;
}

.form-response{
    display: none;
}

svg{
    width: 20px;
    height: 20px;
}